{% include "base.html" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container">
        <div class="row">
            {{ form.song }}
        </div>
        <div class="col-3">
            {{ form.points_singing.label_tag }}
            {{ form.points_singing}}
        </div>
        <div class="col-3">
            {{ form.points_performance.label_tag }}
            {{ form.points_performance }}
        </div>
    </div>
    <input type="submit" value="Vote">

</form>