{% include "base.html" %}
<link rel="stylesheet" href="/static/bootstrap.min_results_edit4.css">
<body>

<div class="container-custom">
    <div class="row">
        <!-- Empty div for spacing alignment in larger screens -->
        <div class="col-sm-12 col-md-6 d-md-none"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div>
                <h3>Song</h3>
                <ol style="font-size: 30px;">
                    {% for song in results.points_song %}
                    <li>{{ song }}: <b>{{ song.points_song }}</b></li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <h3>Gesang</h3>
                <ol style="font-size: 30px;">
                    {% for song in results.points_singing %}
                    <li>{{ song }}: <b>{{ song.points_singing }}</b></li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <h3>Performance</h3>
                <ol style="font-size: 30px;">
                    {% for song in results.points_performance %}
                    <li>{{ song }}: <b>{{ song.points_performance }}</b></li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <h3>Outfit</h3>
                <ol style="font-size: 30px;">
                    {% for song in results.points_outfit%}
                    <li>{{ song }}: <b>{{ song.points_outfit }}</b></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <h3>Gesamt</h3>
            <ol>
                {% for song in results.points_total %}
                <li>{{ song }}: <b>{{ song.points_total }}</b></li>
                {% endfor %}
            </ol>
            <h3 style="margin-top: 50px;">Zum Voting: escvoting.kalk.space</h3>
            <img style="width: 40%; margin-top: 30px" src="/static/voting-qrcode2.png"> 
        </div>
    </div>